<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <h2>{{ settings.title }}</h2>
      <span class="spacer"></span>
      <button mat-button routerLink="/products">Products</button>
      <button
        mat-button
        routerLink="/cart"
        [matBadge]="cartService.cart?.products?.length">
        My Cart
      </button>
      <button mat-button routerLink="/user">My Profile</button>
      <app-auth></app-auth>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<main class="main">
  <div class="content">
    <router-outlet />
  </div>
</main>
<footer>
  <mat-toolbar>
    <mat-toolbar-row>
      <span appCopyright> - v{{ settings.version }}</span> 
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
