/* You can add global styles to this file, and also import other style files */
.copyright {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}
input.valid {
  border: solid green;
}
input.invalid {
  border: solid red;
}
input {
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}
button {
  display: flex;
  align-items: center;
  --button-accent: var(--bright-blue);
  background: color-mix(in srgb, var(--button-accent) 65%, transparent);
  color: white;
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 0.5rem;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  cursor: pointer;
}
button:hover {
  background: color-mix(in srgb, var(--button-accent) 50%, transparent);
}
